a{
    text-decoration: none;
    color: gray;
}
a:hover{
    cursor: default;
}

.nota{
    margin: auto;
    width: 30rem;
    margin-top: 5rem;
    padding: 2rem;
    background-color: #f1ecec;
    box-shadow: -3px 9px 74px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 9px 74px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 9px 74px 0px rgba(0,0,0,0.75);
}

.centrado{
    text-align: center;
}